.exp-tab{
    background-color: greenyellow;
    .card{
      background-color: hotpink;
    }
    .card-header{
      background-color: indianred;
    }
    .btn-link{
      color: lightskyblue;
      font-weight: 400px;
    }
  }