.exp-tab {
  img {
    padding: 1rem;
    width: 16%;
  }
  .card {
    border: 3px solid black;
  }
  .card-header {
    border-bottom: 0px solid white;
    background-color: white;
  }
  .btn-link {
    display: flex;
    align-items: center;
    text-align: left;
    color: black;
    text-decoration: none;
    font-weight: 900;
    :link {
      text-decoration: none;
    }
    :hover {
      text-decoration: none;
      color: black;
    }
  }
  h5 {
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 1.2;
  }
  h6 {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2;
  }
  .xp-desc {
    margin-left: 2rem;
    h1 {
      font-size: 1.5rem;
    }
    p {
      color: yellowgreen;
    }
    li {
      list-style-type: square;
      color: black;
      margin-left: 1.5rem;
    }
  }
}
