.Title{
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    position: relative;
    padding-bottom: 1rem;
    letter-spacing: 3px;
    span{
        position: absolute;
        color: gray;
        font-weight: bold;
        top: -6%;
        left: 0;
        font-size: 5.5rem;
        opacity: 0.10;
    }
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #52A47E;
    &:hover{
        color: black;
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: black;
    }
}
