@import "./ressources/styles/base/typography";

@import "./ressources/styles/components/about";
@import "./ressources/styles/components/allportfolios";
@import "./ressources/styles/components/contact";
@import "./ressources/styles/components/resume";
@import "./ressources/styles/components/services";
@import "./ressources/styles/components/skill";
@import "./ressources/styles/components/subtitle";
@import "./ressources/styles/components/title";

@import "./ressources/styles/layout/layout";
@import "./ressources/styles/layout/navbar";

@import "./ressources/styles/pages/blogs";
@import "./ressources/styles/pages/portfolios";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/tiempos-headline');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Noto Sans JP", sans-serif;
  // font-family: 'Crimson Text', serif;
  font-family: 'Tiempos Headline', sans-serif;

}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #377572;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: #777;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
}
// span {
//   color: #037fff;
// }

@media screen and (max-width: 411px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 70%;
  }
  h3 {
    font-size: 70%;
  }
}

#root {
  height: 100%;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

span {
  font-size: 40px;
}

// .dark-mode {
//   *{
//     background-color: #1a1919;
//   }
//   background-color: #1a1919;
//   color: #999;
//   height: 100%;
//   transition: background-color 0.25s ease-in-out;
// }

// .light-mode {
//   *{
//     background-color: #fff;
//   }
//   color: #333;
//   height: 100%;
//   transition: background-color 0.25s ease-in-out;
// }