.ImageSection {
  // display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  }
  .img {
    width: 100%;
    height: 50vh;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      border: 4px solid black;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
      border-radius: 2.5px;
      transform-style: preserve-3d;
    }

  .about-info {
    margin-left: 2rem;
    h4 {
      font-size: 2rem;
    }
    .about-text {
      padding: 1rem 0;
    }
  }
  @media screen and (max-width: 1400px) {
    flex-direction: column;
    .about-info {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}

.about-details {
  display: flex;
  p {
    padding: 0.3rem 0;
  }
  .right-section {
    margin-left: 2.3rem;
  }
}

.btn {
  padding: 1rem 2rem;
  background-color: #377572;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 1rem;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0.3rem;
    left: 0;
    bottom: 0;
    background-color: #a4acc4;
    transition: all 0.4s ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 3rem;
  margin: 4rem 0;
  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.btn-port {
  padding: 0.6rem 2rem;
  background-color: white;
  border: 2.5px solid black;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: black;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
  transform-style: preserve-3d;
  &:not(:last-child) {
    margin-right: 1rem;
  }
  &:hover {
    // background-color: #fff4df;
    transform: translate(2px, -2px);
    font-weight: bold;
    border: 3.5px solid black;
    border-radius: 3px;
    transform-style: preserve-3d;
    transition: all 0.2s ease-in-out;
  }
  &:active {
    background-color: #F39C12;
  }
  &:focus {
    background-color: #F39C12;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 10rem;
  flex-wrap: wrap;
  @media screen and (max-width: 1270px) {
    margin: 2rem 5rem;
  }
  @media screen and (max-width: 1100px) {
    margin: 2rem 2rem;
  }
}

.exp-tab{
  background-color: greenyellow;
  .card{
    background-color: hotpink;
  }
  .card-header{
    background-color: indianred;
  }
  .btn-link{
    color: lightskyblue;
    font-weight: 400px;
  }
}
